<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        class="profile img-thumbnail rounded-circle"
        src="/img/wandy.jpg"
        alt="profile-foto"
      />
      <h1 class="display-4">Wandy Azami</h1>
      <p class="lead">Frelancer | Web Programmer</p>
    </div>
  </div>
</div>
